html {
  font-family: "Droid Serif", serif;
  background-color: #70ad55;
}

form {
  background-color: #fff;
}

header {
  background-color: #70ad55;
  color: #fff;
}

input, select, textarea {
  border-color: #6e8c62;
}

div {
  width: 100%;
}

.btn {
  background-color: #6e8c62;
  border: none;
  padding: .5rem 3rem;
}

.opt {
  color: #70ad55;
}

fieldset {
  border-bottom: 2px solid #70ad55;
  border-top: none;
}

footer {
  background-color: #70ad55;
  color: #fff;
}
