html{
  font-family: "Droid Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

input, select {
  border-color: #6e8c62;
}

div {
  width: 100%;
}

.opt {
  color: #70ad55;
}

fieldset {
  border-bottom: 2px solid #70ad55;
  border-top: none;
}
